h1{
    color: aquamarine;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: cadetblue;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
}